.heading1{
    color: black;
    font-weight: 420;
}

#link1{
    color: bisque;
    font-weight: 69;
}



#navbar{
    color: bisque;
    font-weight: 420;
}

#paragraph1{
    background-color: turquoise;
    max-width: 15cm;
}


img{
    width: 500px;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    margin-top: 40px;
}


