.heading1{
    color: black;
    font-weight: 420;
}

#link1{
    color: bisque;
    font-weight: 69;
}


#center{
    margin-top: 5cm;
    
}

#navbar{
    color: bisque;
    font-weight: 420;
}

#paragraph1{
    background-color: turquoise;
    max-width: 15cm;
}

